.el-divider-margin{
margin: 0!important;
}
.fontN{
margin-top: -10px;
}
.fontN .el-table{
margin-top: 10px;
}
.goodsPosterImg{
    width: 80px;
}
.green{
    color: green;
}
.red{
    color: #f00;
}
.customDialog >>> .el-dialog__body{
    padding: 10px;
}
.customDialog >>> .el-input__inner{
    height: 30px;
}
.customDialog >>> .el-table td{
    padding: 0;
}
.customDialog >>> .el-table th{
    padding: 8px 0;
    background: #EBEEF5;
}
.customDialog >>> .el-form-item{
    margin-bottom: 0;
}
.customDialog >>> .el-form-item__error{
    position: relative;
}
.el-button{
    padding: 8px 10px;
}
.customDialog >>> .el-table::before{
    height: 0;
}
.discount >>> .el-form-item{
    width: 100%;
}
.discount >>> .el-upload-list--picture-card .el-upload-list__item,
.discount >>> .el-upload--picture-card{
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.discount >>> .el-upload-list,
.discount >>> .el-upload--picture-card{
    display: inline-block;
    vertical-align: top;
}
.discount >>> .el-form-item__content{
    width: calc(100% - 80px);
}
.discountPro li{
    width: 80px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #c0ccda;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 8px 8px 0;
    display: inline-block;
}
.discountPro li.addProductBtn{
    vertical-align: top;
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 80px;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 34px;
    cursor: pointer;
}
.discountPro li.addProductBtn:hover{
    border-color: #409EFF;
    color: #409EFF;
}
/* 表单样式 */
.el-form-item__content,
.el-form-item__label,
.el-form-item__content .el-input__inner,
.el-form-item__content .el-input__icon{
    height: 30px;
    line-height: 30px;
}
.el-form--inline .el-form-item{
    margin-bottom: 10px;
}
.el-select{
    width: 100%;
}
.el-date-editor .el-range-separator{
    line-height: 20px;
}
/* 下拉 */
.el-select-dropdown__item{
    height: 24px;
    line-height: 24px;
}
/* 弹窗 */
.el-dialog__body{
    padding: 10px 15px;
}
.el-dialog__header {
    padding: 10px 15px;
}
.el-dialog__headerbtn{
    top: 10px;
}
.el-dialog__footer{
    position: relative;
    z-index: 2;
}